@use "sizes";

.common_client-categories {
  &_grid {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    padding: sizes.$md;
    width: 100%;
    height: 100%;

    * {
      border: 1px solid white;
      box-sizing: border-box;
    }
  }

  &_square {
    border: 1px solid white;
    box-sizing: border-box;
  }
}
