.page-board_clue {
  &_container {
    display: grid;

    text-align: center;
    grid-template-rows: repeat(2, 1fr) repeat(2, 3fr);
    align-items: center;

    height: 100%;
    width: 100%;
  }

  &_cost {
    color: yellow;
  }

  &_image {
    max-width: 60%;
  }
}
