.page-board_clue {
  &_container {
    text-align: center;
    padding: sizes.$sm sizes.$md;

    background-color: colors.$jeopardy-blue;
    cursor: default;
    color: white;
    font-size: sizes.$text-md;

    border: 1px solid white;
  }
}
