@use "src/sizes";

.page-board_player-list {
  &_container {
    display: grid;
    grid-template-columns: auto 9ch;
    column-gap: sizes.$xl;
    position: relative;
    width: 500px;
    min-height: 150px;
    max-height: 300px;
    overflow: scroll;

    * {
      margin-top: sizes.$md;
      margin-bottom: sizes.$sm;
    }
  }

  &_name {
    width: fit-content;

    &--active {
      font-weight: bold;
    }
  }

  &_balance-input {
    width: 8ch;
  }

  &_balance {
    width: 8ch;
  }
}
