@use "src/sizes";

.page-board_player-list {
  &_container {
    display: grid;
    grid-template-columns: auto fit-content(10px);
    column-gap: sizes.$xl;
    position: relative;
    * {
      margin-top: sizes.$md;
      margin-bottom: sizes.$sm;
    }
  }

  &_name {
    width: fit-content;
  }

  &_balance-input {
    width: 8ch;
  }

  &_balance {
    width: 8ch;
  }
}
