@use "src/sizes";
.page-player-active {
  &_header {
    p {
      color: black;
    }

    &_left {
      text-align: start;
    }

    &_right {
      text-align: end;
    }
  }

  &_main-content-container {
    margin: sizes.$md;
  }
}
