@use "src/core";
@use "src/sizes";

.page-games__game-card {
  &__details {
    visibility: hidden;
    transition: visibility 0s 200ms;
  }

  &__panel {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;

    transition: transform 500ms, width 500ms, height 500ms, z-index 500ms,
      box-shadow 1s;

    &:focus,
    &:focus-within {
      border: 1px solid #406040;
    }

    &:hover,
    &:focus-within,
    &:focus,
    &:active {
      width: 120%;
      height: 150%;
      transform: translateX(-10%);
      box-shadow: core.$box-shadow;
      z-index: 10;

      .page-games__game-card__details {
        visibility: visible;
      }
    }
  }

  &__container {
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
  }

  &__player-list {
    margin: 0;
  }
}
