@use "src/colors";
@use "src/sizes";

.common_square {
  text-align: center;
  padding: sizes.$sm sizes.$md;

  background-color: colors.$jeopardy-blue;
  cursor: default;
  color: white;
  font-size: sizes.$text-lg;
  box-sizing: border-box;

  overflow: hidden;

  height: 100%;
  max-height: 100%;
  min-height: 100%;

  width: 100%;
  max-width: 100%;
  min-width: 100%;

  &_clickable {
    cursor: pointer;
  }
}
