$interaction-primary: #cadbc0;
$interaction-primary-dark: #69a547;
$danger: #a26769;
$success: #507255;
$default: #fdf0d5;
$warn: #c16200;
$interaction-secondary: #9a94bc;
$interaction-secondary-dark: #453b84;

$ui-border: white;
$text: #fdf0d5;
$text-secondary: #fef9ed;

$text-dark: #1b1b1e;
$text-secondary-dark: #4a4a52;

$background: #6310ae;

$jeopardy-blue: #060ce9;
