@use "src/sizes";

.page-play_clue {
  &_container {
    display: grid;
    font-size: sizes.$text-md;

    text-align: center;
    grid-template-rows: repeat(2, 1fr) repeat(2, 4fr);
    align-items: center;

    height: fit-content;
    max-height: 60%;
    width: 100%;
  }

  &_cost {
    color: yellow;
  }
}
